
<h3>My Cart {{shoppingCart.items.length}} Items</h3>

{{#each shoppingCart.items as |item|}}
    <li>{{item.brandedName}} -- {{item.priceLabel}}
        <button {{action 'remove' item}} >remove</button>
    </li>
{{/each}}