<div class="container" id="search-product">
	<h1>Search Products</h1>
	<form>
		<div class="form-group">
			<label for="name">Name</label>
			{{input value=name id="name"}}
		</div>
		<a class="waves-effect waves-light blue btn" {{action 'nameLookup'}} id="product-searchbtn">Submit</a>
	</form>
</div>
