{{!-- <button {{action 'addOrder' product}} >Add to Cart </button> --}}
<a class="btn-floating halfway-fab waves-effect waves-light red" {{action 'addOrder' product}}><i class="material-icons">shopping_basket</i></a>