@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    height: 650px;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://static.pexels.com/photos/92961/pexels-photo-92961.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.results-nav {
    height: 400px;
    background-image: url(https://static.pexels.com/photos/25641/pexels-photo-25641.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cart-nav {
     height: 100px;
    background-image: url(https://static.pexels.com/photos/264699/pexels-photo-264699.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
nav .brand-logo {
    font-size: 5.1rem;
    padding: 10px;
    font-weight: bolder;
}

nav .brand-logo:hover {
    text-decoration: none;
    color: white;
}

nav ul a {
    font-size: 16px;
}

nav ul a:hover {
    text-decoration: none;
    color: #37c6f5;
}

a {
    outline: 0;
}

#search-product h1 {
    text-align: center;
    margin-top: 160px;
}

#product-card {
    float: left;
    width: 400px;
    margin: 2px;
    padding: 20px;
    margin-left: 32px;
}

#product-card img {
    height: 800px;
}

.product-container {
    margin-right: -10px;
}

.card .card-image .card-title {
    color: black;
    background-color: beige;
    opacity: 0.5;
}

.form-group input {
    font-size: 20px;
}

label {
    font-size: 18px;
    color: white;
}

.product-price {
    color: ;
    font-weight: bolder;
}

.products-table {
    margin-top: 35px;
}
