<div class="container">
	<div class="container">
		<h1>Pean Designers</h1>
		<h2>About us</h2>
		<p> We are  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut aliquet metus. Suspendisse potenti.
			Suspendisse vel pretium magna, ut ultricies dolor.
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
			Donec non malesuada diam, vitae auctor mi. Vestibulum sollicitudin quam euismod tellus cursus, fermentum ornare est venenatis.
			Proin sed massa eros. Vestibulum posuere imperdiet magna sit amet commodo. Donec at ante nec ligula viverra egestas.
		    Nulla facilisi.
		</p>
		<p> Quisque elementum neque eget magna finibus vestibulum. Pellentesque a pulvinar est, tempor feugiat lectus. Etiam tincidunt vitae lorem rhoncus feugiat.
			Pellentesque tempus elementum lacus ut tincidunt. Sed ut cursus metus, at ullamcorper dui. Cras lobortis ligula tortor, quis laoreet tortor ullamcorper in.
			Aliquam molestie mollis odio at ornare. Donec ut tempus massa. Nam blandit nulla vel odio accumsan, in feugiat augue ullamcorper. <br>
			Nulla nec ligula nibh. Suspendisse potenti. Duis massa libero, tempus sit amet risus vitae, vestibulum scelerisque libero.
		    Integer dignissim dui felis, eget elementum eros scelerisque ac. Nam lobortis neque a odio pulvinar fermentum.
		</p>
	</div>
		<h2>Management Staff</h2>
	
		<div class="row">
			<div class="col s2">
				<img src="images/philip.JPG" width="100%" height="100%">
				<h4>Phillip Mutua</h4>
				<p>Software developer and student at Moringa School. </p>
			</div>
			<div class="col s2">
				<img src="images/najib.jpeg" width="100%" height="100%">
				<h4>Abdulmajid Osman</h4>
				<p>Software developer and student at Moringa School. </p>
			</div>
			<div class="col s2">
					<img src="images/newton.JPG" width="100%" height="100%" alt="image">
					<h4>Newton Kiragu</h4>
					<p>Software developer and student at Moringa School. </p>
			</div>
			<div class="col s2">
						<img src="images/edward.jpg" width="100%" height="100%">
						<h4>Edward Mudaida</h4>
						<p>Software developer and student at Moringa School. </p>
			</div>
			<div class="col s2">
							<img src="images/kiburei.jpg">
							<h4>Andrew Wachira</h4>
							<p>Software developer and student at Moringa School. </p>
			</div>
							
							
	</div>
	<h3> FAQ </h3>
	 <ul class="faq">
        <li class="q">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>What does it take to be a competent developer?
        </li>

        <li class="a">You need to practice a lot using side projects.</li>
        <li class="q">

          <i class="fa fa-angle-double-right" aria-hidden="true"></i>How do you know the right material to study web development?
        </li>

        <li class="a">The right material will always simplify the coding concepts. Apart from providing relevant examples, the right material will also motivate you to learn more</li>

        <li class="q">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>How long does it take to learn programming?
        </li>

        <li class="a">Well, that depends on your learning speed. But generally any learning process requires time and dedication</li>
        <li class="q">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        </li>
        <li class="a">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        </li>
      </ul>
      
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
  <!-- jQuery local fallback -->
  <script>
    window.jQuery || document.write('<script src="js/jquery-3.1.1.min.js"><\/script>')
  </script>
  
</div>







  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Bootstrap JS local fallback -->
  <script>
    if (typeof($.fn.modal) === 'undefined') {
      document.write('<script src="js/bootstrap.min.js"><\/script>')
    }
  </script>
  <!-- Bootstrap CSS local fallback -->
  <div id="bootstrapCssTest" class="hidden"></div>
  <script>
    $(function() {
      if ($('#bootstrapCssTest').is(':visible')) {
        $("head").prepend('<link rel="stylesheet" href="css/bootstrap.min.css">');
      })
    });
  </script>