<nav class="results-nav">
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">Pean</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li>
				{{#link-to 'index'}} Home {{/link-to}}
			</li>
			<li>
				{{#link-to 'about'}} About {{/link-to}}
			</li>
			<li>
				{{#link-to 'contacts'}} Contact {{/link-to}}
			</li>
			<li>
				{{#link-to 'cart'}} Cart {{/link-to}}
			</li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li>
				{{#link-to 'index'}} Home {{/link-to}}
			</li>
			<li>
				{{#link-to 'about'}} About {{/link-to}}
			</li>
			<li>
				{{#link-to 'contacts'}} Contact {{/link-to}}
			</li>
			<li>
				{{#link-to 'cart'}} Cart {{/link-to}}
			</li>
		</ul>
	</div>
</nav>
<div class="container" id="about-container">
	<h1>Meet the team</h1>
	<div class="row">
		<div class="col s4">
			<a href="#dev1" data-toggle="collapse"><img class="img-circle img-fluid m-x-auto m-b" src='/assets/images/philip.JPG'></a>
			<h4 class="text-md text-bold">Phillip Mutua</h4>
			<p>Software developer and student at Moringa School. </p>
		</div>
		<div class="col s4">
			<a href="#dev2" data-toggle="collapse"><img class="img-circle img-fluid m-x-auto m-b" src='/assets/images/newton.JPG'></a>
			<h4 class="text-md text-bold">Newton Kiragu</h4>
			<p class="text-xs m-b-sm m-x-auto" style="max-width: 35rem;">Software developer and student at Moringa School. </p>
		</div>
		<div class="col s4">
			<a href="#dev3" data-toggle="collapse"><img class="img-circle img-fluid m-x-auto m-b" src='/assets/images/najib.jpeg'></a>
			<h4 class="text-md text-bold">Abdulmajid Osman</h4>
			<p>Software developer and student at Moringa School. </p>
		</div>
	</div>
	<div class="row">
		<div class="col s4 push-s8">
			<a href="#dev3" data-toggle="collapse"><img class="img-circle img-fluid m-x-auto m-b" class="img-responsive" src='https://edwardmudaida.github.io/assets/images/Edward.jpg'></a>
			<h4 class="text-md text-bold">Edward Mudaida</h4>
			<p>Software developer and student at Moringa School. </p>
		</div>
		<div class="col s8 pull-s4">
			<a href="#dev5" data-toggle="collapse"><img class="img-circle img-fluid m-x-auto m-b" src='/assets/images/kiburei.jpg'></a>
			<h4 class="text-md text-bold">Andrew Wachira</h4>
			<p>Software developer and student at Moringa School. </p>
		</div>
	</div>
</div>
<footer class="page-footer black">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h4 class="white-text">Pean</h4>
				<hr>
				<h5> {{#link-to 'about'}} About Pean{{/link-to}} </h5>
				<hr>
				<h5> {{#link-to 'contacts'}} Contact Us{{/link-to}} </h5>
				<hr>
			</div>
			<div class="col l4 offset-l2 s12">
				<a href="https://github.com/pmutua/pean-designers.io"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
				<ul>
					<h5 class="white-text">Contributors</h5>
					<li><em class="white-text">P</em>hilip </li>
					<li><em class="white-text">E</em>dward </li>
					<li> <em class="white-text">A</em>ndrew </li>
					<li> <em class="white-text">N</em>ewton & <em class="white-text">N</em>ajib </li>
				</ul>
				<i class="fa fa-tree fa-3x" aria-hidden="true"></i>
				<p>Moringa School</p>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<p style="text-align: right">© 2017 Pean</p>
		</div>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<!-- jQuery local fallback -->
<script>
window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"><\/script>')
</script>
