{{!-- ### Nav Bar section ### --}}
{{head-title 'Pean | Home'}}
<nav class="blue">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Pean</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li>{{#link-to 'about'}} About {{/link-to}} </li>
      <li> {{#link-to 'contacts'}} Contact {{/link-to}} </li>
      {{!--<li><a href="collapsible.html">Services</a></li>--}}
      <li> {{#link-to 'cart'}} Cart {{/link-to}} </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li>{{#link-to 'about'}} About {{/link-to}} </li>
      <li> {{#link-to 'contacts'}} Contact {{/link-to}} </li>
      {{!--<li><a href="collapsible.html">Services</a></li>--}}
      <li> {{#link-to 'cart'}} Cart {{/link-to}} </li>
    </ul>
  </div>
</nav>

{{!-- ####LOADER#### --}}
<div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>

<div id="content">
    <h2>This is our page title</h2>
    <p>Lorem ipsum dolor sit amet.</p>
</div>

{{!-- #### END Loader #### --}}

















{{outlet}}
