<nav class="results-nav">
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">Pean</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li>{{#link-to 'index'}} Home {{/link-to}} </li>
			<li>{{#link-to 'about'}} About {{/link-to}} </li>
			<li> {{#link-to 'contacts'}} Contact {{/link-to}} </li>
			<li> {{#link-to 'cart'}} Cart {{/link-to}} </li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li>{{#link-to 'index'}} Home {{/link-to}} </li>
			<li>{{#link-to 'about'}} About {{/link-to}} </li>
			<li> {{#link-to 'contacts'}} Contact {{/link-to}} </li>
			<li> {{#link-to 'cart'}} Cart {{/link-to}} </li>
		</ul>
	</div>
</nav>

<h1 style="text-align:center;font-size:50px;">Contact Us </h1>
<h3>Drop Us A Mail or Call Us</h3>
<div id="bg"></div>
<div class="contact">
	<div class="envelope">
		<div class="top">
			<div class="outer">
				<div class="inner"></div>
			</div>
		</div>
		<div class="bottom"></div>
		<div class="left"></div>
		<div class="right"></div>
		<div class="cover"></div>
		<div class="paper">
			<a class="call" href="tel:254 000 5555">
				<div class="i"></div>254 000 5555</a>
			<a class="mail" href="mailto:you@domain.com">
				<div class="i"></div>paen@designers.in</a>
		</div>
	</div>
</div>
