{{lookup-form nameLookup="nameLookup"}}
{{outlet}} 


{{!-- {{lookup-form nameLookup="nameLookup"}} --}}
<!-- {{#each shoppingCart.items as |item|}}
	<li>{{item}}swdfs</li>
{{/each}} -->



<!-- {{#link-to 'store'}}
  <h3>Start Shopping</h3>
{{/link-to}}
 -->


{{!-- ///renders list of brands from api--}}


{{!-- ///renders name look up --}}
<!-- <header id="main">
	<h1>Desiignerz Club</h1>
</header>
 -->



<!--
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contacts'}}Click here to contact us.{{/link-to}} -->
