{{!-- ####LOADER#### --}}
<div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>

{{!-- #### END Loader #### --}}




   {{!-- ///renders name look up --}}
{{lookup-form nameLookup="nameLookup"}}



{{outlet}}

{{!-- ///renders list of products from api--}}
<ul>
  {{#each model as |product|}}
    {{product-tile product=product}}
  {{/each}}
</ul>


