  {{!-- ///renders name look up --}}
{{lookup-form nameLookup="nameLookup"}}



{{outlet}}

{{!-- ///renders list of products from api--}}
<ul>
  {{#each model as |product|}}
    {{product-tile product=product}}
  {{/each}}
</ul>

{{outlet}}


<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Pean</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
           <li>{{#link-to 'index'}} Home {{/link-to}} </li>
           <li>{{#link-to 'about'}} About {{/link-to}} </li>
           <li> {{#link-to 'contacts'}} Contact {{/link-to}} </li>
           <li> {{#link-to 'cart'}} Cart {{/link-to}} </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Pean
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

